.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: var(--background);
}

.loader {
  width: 48px;
  height: 48px;
  border: 4px solid var(--primary-light);
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  animation: spin 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
  box-shadow: 0 0 15px var(--primary-glow);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}